*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --lightGrey: rgba(100,100,100,1);
    --pixel-size: 2px;
    --grid-cell: calc(var(--pixel-size) * 16)
}
body{
    background: whitesmoke;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.game-screen{
    width: 50vw;
    height: 45vw;

    margin: auto;

    position: absolute;
}
#menu-btn{
    position: fixed;
    top: 0;
    right: 0;

    margin: 1em;

    width: 3rem;
    height: 3rem;

    border-radius: .5rem;
    border: none;

    transition: .5s ease-in all;
}
#menu-btn:hover{
    background: lightblue;
}
/*-----------start screen----------*/
#start-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: red;
}
.game-name{
    font-family: 'Nova Square';
    
    width: 100%;
}
/*-----------start screen----------*/

/*-----------battle screen----------*/
#battle-screen{
    background: blue;
}

#battle-enemy{
    background: black;

    width: 1rem;
    height: 1rem;

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
#battle-player{
    background: white;

    width:1rem;
    height: 1rem;

    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.health{
    width: 30%;
    height: auto;

    background: white;

    position: absolute;
}

.progress{
    width: 90%;

    margin: auto;
}
#player-health{
    bottom: 30%;
    right: 0;
}
#enemy-health{

}
#battle-menu{
    height: 30%;
    width: 100%;

    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: space-around;
}
#attacks-menu{
    border: 1px solid black;
    border-radius: .5rem;

    background: tan;

    width: 65%;
    height:100%;

    display: grid;
    grid-template: repeat(2,50%)/repeat(2,50%);
}
.attack{
    width: 70%;
    height: 90%;

    margin: auto;

    font-size: .75rem;

    border-radius: 1rem;
}
.attack:hover{
    background: var(--lightGrey);
}
#battle-options{
    background: tan;

    border: 1px solid black;
    border-radius: .5rem;

    width: 30%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.choice{
    height: 30%;
    width: 60%;

    font-size: .75rem;

    border: 1px solid black;
    border-radius: 1rem;

}
/*-----------battle screen----------*/

/*-----------main game screen----------*/
#main-game{
    width: calc(var(--pixel-size) * 160);
    height: calc(var(--pixel-size) * 144);
    overflow: hidden;
    background: #61ddf7;
    position:relative;
}
/* #main-game-info{
    background: white;

    position: absolute;
    bottom: 0;

    width:100%;
    height: 10%;
} */
/* #display-player{
    width: 1rem;
    height: 1rem;

    background: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */
.character {
    width: calc( var(--grid-cell)* 2 );
    height: calc( var(--grid-cell)* 2 );
    position: absolute;
    overflow:hidden;

}
.character_spritesheet {
    position: absolute;
    background: url("https://assets.codepen.io/21542/DemoRpgCharacter.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc( var(--grid-cell)* 8 );
    height: calc( var(--grid-cell)* 8 );
}
.character[facing="right"] .character_spritesheet {
background-position-y: calc( var(--pixel-size) * -32 );
}
.character[facing="up"] .character_spritesheet {
background-position-y: calc( var(--pixel-size) * -64 );
}
.character[facing="left"] .character_spritesheet {
background-position-y: calc( var(--pixel-size) * -96 );
}
.character[walking="true"] .character_spritesheet {
animation: walkAnimation 0.6s steps(4) infinite; 
}

@keyframes walkAnimation {
from {
    transform: translate3d(0%,0%,0);
}
to {
    transform: translate3d(-100%,0%,0);
}
}
.pixel-art{
    image-rendering: pixelated;
}
#playarea{
    image-rendering: pixelated;
    background-image: url("https://assets.codepen.io/21542/CameraDemoMap.png");
    background-size: 100%;
    width: calc(13 * var(--grid-cell));
    height: calc(10 * var(--grid-cell));
    position: relative;

    /* background: blue; */
}
.opponent{
    width: 1rem;
    height: 1rem;

    background: white;

    position: relative;
}
#opp1{
    top: 5%;
    left: 5%;
}
#opp2{
    top: 15%;
    left: 90%;
}
#opp3{

    top: 60%;
    right: -20%;
}
#opp4{
    top: 75%;
    left: 70%;

}
/*-----------main game screen----------*/

/*-----------rules screen----------*/
#rules{
    background: white;
}
/*-----------rules screen----------*/
